<template>
 <div class="admin">
  <v-app id="inspire">
    <v-navigation-drawer
      fixed
      v-model="drawer"
      app
    >
      <v-list dense>
        <v-list-tile @click="logout">
          <v-list-tile-action>
            <v-icon>exit_to_app</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Logout</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="indigo" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>
      <v-icon>search</v-icon>
      Book Finder </v-toolbar-title>
      <v-spacer></v-spacer>
        <v-avatar size="60px" tile>
          <img
            src="https://thumb7.shutterstock.com/thumb_large/3255965/288741131/stock-vector-book-library-d-read-logo-element-education-vector-design-symbol-shape-icon-template-business-store-288741131.jpg"
            alt="books"
          >
        </v-avatar>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
    <v-footer color="indigo" app>
      <span class="white--text">&copy; 2018</span>
    </v-footer>
  </v-app>
  </div>
</template>

<script>
import Vue from 'vue'
import Vuetify from 'vuetify'
import {store} from '../store.js'

Vue.use(Vuetify)

export default {
  name: 'Admin',
  store,
  data () {
    return {
      drawer: null,
      user: this.$store.getters.getUser
    }
  },
  methods: {
    logout: function (event) {
      this.$store.dispatch('logout')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
