<template>
  <div>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs6 sm6 v-if="!searchBy || searchBy === 'book'">
      <v-text-field
        flat
        prepend-icon="search"
        label="Search"
        class="hidden-sm-and-down"
        v-model="searchText"
        @input="search()"
        @keyup.enter="search()"
      ></v-text-field>
      </v-flex>
      <v-flex xs6 sm6 v-if="searchBy === 'author' ">
      <v-text-field
        flat
        label="First Name"
        class="hidden-sm-and-down"
        v-model="author.first_name"
        @input="search()"
        @keyup.enter="search()"
      ></v-text-field>
      <v-text-field
        flat
        label="Last Name"
        class="hidden-sm-and-down"
        v-model="author.last_name"
        @keyup.enter="search()"
        @input="search()"
      ></v-text-field>
      </v-flex>
      <v-flex xs6 sm6>
      <v-btn @click="clear()">clear search</v-btn>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs6 sm6>
         <v-radio-group v-model="searchBy" row>
          <v-radio label="By Book Title" value="book" ></v-radio>
          <v-radio label="By Author Name" value="author"></v-radio>
        </v-radio-group>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs4 sm4>
        <v-select
          :items="libraries"
          item-text="name"
          item-value="id"
          v-model.number="library"
          label="Select Library"
          single-line
          bottom
          @change="search()"
        ></v-select>
      </v-flex>
    </v-layout>
  </v-container>

    <v-layout class="top">
    <v-flex xs12 sm12 offset-sm0>
      <v-card>
        <v-card-actions>
    <v-spacer></v-spacer>
    <div class="text-xs-center pt-2">
      <v-pagination v-if="pagination" v-model="page" :length="pagination.total_pages" :total-visible="7" @input="updateList()"></v-pagination>
    </div>
        </v-card-actions>
        <v-container fluid v-bind="{ [`grid-list-20`]: true }">
          <v-layout row wrap >
            <v-flex
              xs4
              v-for="book in books"
              :key=book.id
            >
              <v-card color="blue-grey " class="white--text item">
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex xs7>
                    <div>
                      <div class="headline">{{book.title}}</div>
                      <div>
                      {{book.author.first_name}}
                      {{book.author.last_name}}
                      </div>
                    </div>
                  </v-flex>
                  <v-flex xs5>
                    <v-card-media
                      src="https://covers.oreillystatic.com/images/9780596158118/lrg.jpg"
                      height="125px"
                      contain
                    ></v-card-media>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-flex>
    </v-layout>
</div>
</template>

<script>
import Vue from 'vue'
import {vueAuth} from '../store.js'

export default {
  name: 'Home',
  data () {
    return {
      searchText: '',
      searchBy: '',
      size: 20,
      books: {},
      author: {first_name: '', last_name: ''},
      libraries: [],
      library: null,
      pagination: {},
      page: 0
    }
  },
  created () {
    // observed
    this.fetchData()
    this.fetchLibraryData()
  },
  watch: {
    '$books': 'fetchData',
    '$library': 'fetchLibraryData'
  },
  methods: {
    setPagination (meta) {
      this.pagination = meta
      Vue.set(this.pagination, 'total_pages', Math.ceil(this.pagination.total_count / this.pagination.limit))
    },
    fetchData () {
      this.pagination = {}
      this.books = {}
      this.page = 0
      let apiUrl = vueAuth.options.baseUrl + vueAuth.options.apiPath + '/book'
      vueAuth.$http.get(apiUrl).then((response) => {
        this.books = response.data.objects
        this.setPagination(response.data.meta)
      })
    },
    fetchLibraryData () {
      let apiUrl = vueAuth.options.baseUrl + vueAuth.options.apiPath + '/library'
      vueAuth.$http.get(apiUrl).then((response) => {
        this.libraries = response.data.objects
      })
    },
    updateList () {
      let offset = this.pagination.limit * this.page
      let apiUrl = vueAuth.options.baseUrl + vueAuth.options.apiPath + '/book?offset=' + offset
      vueAuth.$http.get(apiUrl).then((response) => {
        this.books = response.data.objects
        this.setPagination(response.data.meta)
      })
    },
    search () {
      this.pagination = {}
      let canSearch = this.searchText.length >= 3 || this.author.first_name.length >= 3 || this.author.last_name.length >= 3
      if (canSearch) {
        let apiUrl = vueAuth.options.baseUrl + vueAuth.options.apiPath + '/book?'

        if (!this.searchBy || this.searchBy === 'book') {
          apiUrl += 'title__icontains=' + this.searchText
        } else if (this.author.first_name && this.author.last_name) {
          apiUrl += 'author__first_name__icontains=' + this.author.first_name +
          '&author__last_name__icontains=' + this.author.last_name
        } else if (this.author.first_name) {
          apiUrl += 'author__first_name__icontains=' + this.author.first_name
        } else if (this.author.last_name) {
          apiUrl += 'author__last_name__icontains=' + this.author.last_name
        }

        if (this.library) {
          apiUrl += '&libraries__id=' + this.library
        }

        vueAuth.$http.get(apiUrl).then((response) => {
          this.books = response.data.objects
        })
      }
    },
    clear () {
      this.pagination = {}
      this.searchText = ''
      this.author = {first_name: '', last_name: ''}
      this.library = null
      this.fetchData()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.item {
  margin-bottom: 10px;
  margin-right: 10px;
}
</style>
