<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Login form</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-alert outline color="error" icon="warning" :value="this.isUnauthorized">
                  Invalid username or password
                </v-alert>
                <v-form v-model="valid">
                  <v-text-field
                  prepend-icon="person"
                  name="username"
                  label="Username"
                  v-model="username"
                  type="text"
                  counter
                  max="80"
                  :rules="[rules.required]"
                  >
                  </v-text-field>
                  <v-text-field
                  prepend-icon="lock"
                  name="password"
                  label="Password"
                  id="password"
                  v-model="password"
                  type="password"
                  counter
                  max="30"
                  :rules="[rules.required]"
                  >
                  </v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="submit" :disabled="!valid">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import {store} from '../store.js'
export default {
  name: 'Login',
  store,
  computed: {
    isUnauthorized: function () {
      return this.$store.getters.isUnauthorized
    }
  },
  data () {
    return {
      showAlert: false,
      valid: true,
      username: '',
      password: '',
      rules: {
        required: (value) => !!value || 'Required.'
      }
    }
  },
  methods: {
    submit () {
      let payload = {
        user: {
          username: this.username,
          password: this.password
        },
        requestOptions: null
      }
      this.$store.dispatch('login', payload)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
