<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import {store} from './store.js'
export default {
  name: 'App',
  store,
  computed: {
    isAuthenticated () {
      return this.$store.getters.isAuthenticated
    }
  }
}
</script>

<style>
@import 'vuetify/dist/vuetify.min.css'

</style>
